<?xml version="1.0"?>
<configuration>
    <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        <section name="Demos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>     
    </configSections>
  <applicationSettings>
    <Server.Properties.Settings>
      <setting name="HttpServiceRoot" serializeAs="String">
        <value>..\\..\\root</value>
      </setting>
      <setting name="DefaultPage" serializeAs="String">
        <value>404.html</value>
      </setting>
      <setting name="ApplicationXmlFile" serializeAs="String">
        <value>..\\..\\root\\applications.xml</value>
      </setting>      
      <setting name="CurrentDomain" serializeAs="String">
        <value>localhost</value>
      </setting>
    </Server.Properties.Settings>
    <Demos.Properties.Settings>
      <setting name="ChatServerRootDirectory" serializeAs="String">
        <value>..\\..\\root\\chat</value>
      </setting>
      <setting name="DesktopViewerRootDirectory" serializeAs="String">
        <value>..\\..\\root\\desk</value>
      </setting>
    </Demos.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
